body,
html {
  color: whitesmoke;
  background: #000102;
}

.main {
  padding: 10px;
}

.container {
  display: flex;
  max-width: 660px;
  margin: auto;
  flex-direction: column;
}

.panel {
  padding: 6px;
  border: 6px solid seashell;
}

.link {
  font-size: 30px;
  font-weight: bold;
}

.info {
  width: 30%;
}

.test {
  width: 65%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}